body {
    background-color: hsl(212, 45%, 89%);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    width: 250px;
    height: 420px;
    border-radius: 15px;
}

.qr-code {
    background: url(./images/image-qr-code.png) center no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.info {
    text-align: center;
}

#p-first {
    margin-top: 20px;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: hsl(218, 44%, 22%);
}

#p-second {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.attribution a { color: hsl(228, 45%, 44%); }


